{
  "presets": ["@babel/preset-env"],
  "assumptions": {
    "setPublicClassFields": true
  },
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties"],
    [
      "@babel/plugin-transform-async-to-generator"
    ]
  ]
}
