.DS_Store
node_modules
example
.yalc
yalc.lock
tsconfig.test.json
jest.config.ts
coverage
test
.nvmrc

.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode
*.tgz

/.husky
/.commitlintrc.json
/.dirlintrc.yml
/.editorconfig
/.eslintignore
/.eslintrc.js
/.gitignore
/.lintstagedrc.json
/src
/tsconfig.json
/CHANGELOG.md
